
.submitBtn {
    padding-left: 10px;
}

.FormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.label-goal {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
}

.teacher-rec {
    font-size: 23px;
    font-weight: normal;
}

.label-status {
    color: #000;
    font-size: 20px;
    font-style: normal;
}


