.CoursesList{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CourseName{
    flex-basis: 90%;
}

.Button{
    margin-left: 5px;
    margin-right : 5px;
}

.ModalHeader{
    background-color: red;
}

.ModalTitle{
    color: white;
}

.FormWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
